<h2>Kundenübersicht</h2>

<p>
  <a routerLink="/customers/add">Neuen Kunden hinzufügen</a>
</p>

<div *ngIf="error; else customerList">
  {{error}}
</div>

<ng-template #customerList>
  <table *ngIf="customers && customers.length; else noCustomers">
    <thead>
    <tr>
      <td>ID</td>
      <td>Vorname</td>
      <td>Nachname</td>
      <td>E-Mail</td>
      <td>Geschlecht</td>
      <td>Aktionen</td>
    </tr>
    </thead>
    <tr *ngFor="let customer of customers">
      <td>{{customer.id}}</td>
      <td>{{customer.firstName}}</td>
      <td>{{customer.lastName}}</td>
      <td>{{customer.emailAddress}}</td>
      <td>{{customer.gender}}</td>
      <td>
        <a [routerLink]="['/customers/edit', customer.id]">bearbeiten</a>
      </td>
    </tr>
  </table>

  <ng-template #noCustomers>
    Es wurden keine Kunden in der Datenbank gefunden.
  </ng-template>
</ng-template>
